@keyframes spin {
  100% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

.nav-bar {
  background-color: #1d1d1d;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0;

  img {
    display: block;
    width: 30px;
  }

  &:hover img:not(.sub-logo) {
    animation: spin 5s linear infinite;
  }

  .sub-logo {
    width: 30px;
    margin-left: 6px;
  }
}

.nav-bar {
  nav {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    gap: 12px;

    a {
      font-size: 20px;
      color: #4d4d4e;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 60px;
      text-decoration: none;
      position: relative;

      svg {
        transition: color 0.4s ease-out, opacity 0.4s ease-out;
        color: inherit;
      }

      &:hover {
        color: #b4b4b4;
      }

      &.active {
        color: #FFFFFF;
      }

      &::after {
        content: '';
        position: absolute;
        font-size: 8px;
        letter-spacing: 1px;
        left: 50%;
        bottom: 5px;
        transform: translateX(-50%);
        display: block;
        opacity: 0;
        transition: opacity 0.4s ease-out;
        color: #ffffff;
      }

      &:hover::after {
        opacity: 1;
      }

      &:first-child::after {
        content: 'HOME';
      }

      &.about-link::after {
        content: 'ABOUT';
      }

      &.contact-link::after {
        content: 'CONTACT';
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 5px;
    margin: 0;
    list-style: none;

    li {
      a {
       display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;  
        height: 25px;
        margin: 3px;    
        color: #4d4d4e;
        text-decoration: none;

        svg {
          transition: color 0.4s ease-out;
          color: inherit;
          width: 22px;
          height: 22px;
          font-size: 22px;
        }

        &:hover {
          color: #FFFFFF;
        }

        &:hover svg {
          color: #FFFFFF;
        }
      }
    }
  }
}

  